* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

.shapka {
	display: grid;
	justify-items: center;
	align-items: center;
}

.shapka1 {
	height: 150px;
	width: 100%;
	background-color: darkgoldenrod;
	display: grid;
	justify-items: center;
	align-items: center;

}

.shapka2 {
	height: 75px;
	width: 50%;
	background-color: darkred;
	display: grid;
	justify-items: center;
	align-items: center;
}

.shapka3 {
	height: 40px;
	width: 30%;
	background-color: darkslateblue;
	display: grid;
	justify-items: center;
	align-items: center;
}

.block-1_block-1 {
	grid-area: block-1;
	background-color: gray;
	height: 100%;
	width: 100%;


}

.block-1_block-2 {
	grid-area: block-2;
	background-color: darkred;


}

.block-1_block-3 {
	grid-area: block-3;
	 background-color: orange;
	

}

.block-1_block-4 {
	grid-area: block-4;
	background-color: aqua;

}


.content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
}

.container-1_con-1 {
	grid-area: container-1_con-1;
	width: 100%;
	background-color: darkblue;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 75px auto;
	grid-template-areas: 
	"block-2 block-2 "
	"block-3 block-4";

}

.container1 {
	background-color: antiquewhite;
	height: 100%;
	overflow-x: hidden;
	padding: 20px;

	display: grid;
	justify-items: center;
	align-self: center;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 50px auto;
	gap: 10px;
	grid-template-areas:
		". . block-1 block-1 block-1 block-1 block-1 block-1 block-1 block-1 . . "
		" . . . container-1_con-1 container-1_con-1 container-1_con-1 container-1_con-1 container-1_con-1 container-1_con-1 . . . "

}

.block {
	/* border: 1px dashed black;
	height: 100%;
	width: 100%;

	display: grid;
	justify-items: center;
	align-items: center; */
}

.block-2_block-1 {
	grid-area: block-1_block-1;
	background-color: black;
}

.block-2_block-2 {
	grid-area: block-1_block-2;
}

.block-2_block-3 {
	grid-area: block-1_block-3;
}

.block-2_block-4 {
	grid-area: block-1_block-4;
}

.block-2_block-5 {
	grid-area: block-1_block-5;
}

.block-2_block-6 {
	grid-area: block-1_block-6;
}

.container2 {
	background-color: aqua;
	height: 350px;
	overflow-x: hidden;
	padding: 20px;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: repeat(5, 100px);
	gap: 10px;
	/*	grid-template-areas:
"block-1_block-1 block-1_block-2 block-1_block-3"
	;*/
}

.container3 {
	background-color: chartreuse;
	height: 350px;
}