html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.mainShapka{
    width: 100%;
    height: 200px;
    background-color: aquamarine;
    position: relative;
}

.shapka-1{
    width: 50%;
    height: 50%;
    position: absolute;
    background-color: red;
    top: 50%;
    left: 50%;
     transform: translate(-50%, -50%); 
}

.shapka-2{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: transparent;
}

.shapka-3{
     width: 50%;
    height: 50%;
    position: absolute;
    background-color: yellow;
    top: 50%;
    left: 50%;
     transform: translate(-50%, -50%); */
}